*, ::after, ::before {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	/*清除点击默认的高亮效果*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/*以你的border开始计算宽度*/
}

body, html{
	font-size: 20px;
	overflow-x: hidden;
	overflow-y: scroll;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

body {
	font-size: 0.6rem;
	font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial","STHeiTi",sans-serif;
	/*第二个是手机默认的字体*/
	color: #000;
	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

button{
	margin: 0;
	padding: 0;
	border: 1px solid transparent;
	outline: none;
}

a,img{
	-webkit-touch-callout: none;
	/*禁止长按链接与图片弹出菜单*/

	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-khtml-user-select: none; 
	user-select: none;
}

a,input{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/*去除(安卓,苹果)自带阴影的样式*/
}

a {
	text-decoration: none;
	color: #000;	
}



img{
	max-width: 100%;
	border: 0;
	/*display:block;*/
	vertical-align:middle; 
}

p {
	margin: 0;
}

i{
	font-style: normal;
}

ul,ol {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}


input,
textarea {
	border: none;
	resize: none;
	outline: none;
	/*清除默认选中框*/
	/*-webkit-appearance: none;*/
	/*清除移动设备的样式*/
}


/*清除浮动*/
.clearfix::before,
.clearfix::after {
	content: '';
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both;
}
/*超链接总颜色控制*/
a:link {color:#ffffff;}		/* 未被访问的链接 */
a:visited {color:#ffffff;}	/* 已被访问的链接 */
a:hover {color:#0078ff;}	/* 鼠标指针移动到链接上 */
/*a:active {color:#0000FF;}	/* 正在被点击的链接 */

/* 频道白底文字链接的CSS定义*/
a.link-footer:link {color: rgba(255,255,255,0.8);}
a.link-footer:visited {color: rgba(255,255,255,0.8);}
a.link-footer:hover {color: rgba(255,255,255,0.8);text-decoration: underline;cursor: pointer;}

a.channel:link {color: #828282;}
a.channel:visited {color: #828282;}
a.channel:hover{color: #0078ff;}

.header-area {
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-khtml-user-select: none; 
	user-select: none;
}
.ui-timeLine {
	padding: 50px 0;
	position: relative;
	overflow: hidden;
}

.ui-timeLine > .item {
	display: block;
	position: relative;
	text-align: justify;
	text-justify: newspaper;
	word-break: break-all;
	padding-left: 50px;
	color: #fff;
	padding-right: 10px;
}

.ui-timeLine > .item > .box {
	padding: 5px 0;
}

.ui-timeLine > .item .cbox {
	position: relative;
	left: 100vw;
	transition: left 1s;
	padding: 10px;
	border-radius: 10px;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 0%, rgba(79, 139, 174, 0.8) 100%);
	box-shadow: 3px 3px 8px #ccc;
}

.ui-timeLine > .item::after {
	content: "";
	display: block;
	clear: both;
}

.ui-timeLine .dot {
	z-index: 70;
	display: inline-block;
	position: absolute;
	left: 25px;
	top: 0;
	padding: 3px;
	border: 3px solid #eee;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 3px 3px 8px #ccc;
	transition: .5s;
}

.ui-timeLine .active {
	border: 3px solid rgba(79, 139, 174, 0.8);
}

.ui-timeLine .line,
.ui-timeLine > .activeLine {
	position: absolute;
	left: 29px;
	width: 4px;
	height: 100%;
	background-color: #eee;
}

.ui-timeLine .date {
	font-size: 14px;
	font-weight: 900;
}

.ui-timeLine .title {
	font-size: 16px;
	font-weight: 900;
	line-height: 30px;
}

.ui-timeLine .types > span {
	font-size: 10px;
	border-radius: 5px;
	padding: 2px 10px;
	margin-right: 10px;
	border: 1px solid #fff;
}

.ui-timeLine > .activeLine {
	background-color: rgba(118, 179, 241, 0.8);
	z-index: 50;
	top: 50px;
	height: 0;
	max-height: calc(100% - 80px);
	transition: height 1s;
	box-shadow: 3px 3px 2px #eee;
}

* {
	margin: 0;
	padding: 0;
}
img {
	width: 100%;
	height: 100%;
}
/* ナビゲーションボタンの色 */
#case6 img, #case7 img {
	transform: scale(0.7);
}
small {
	color: rgba(255,255,255,0.8);
	font-size: 0.8rem;
}
footer {
	font-size: 0.7rem;
}

.heart{
	width: 10px;
	height: 10px;
	position: fixed;
	background: #f00;
	transform: rotate(45deg);
	pointer-events: none;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}
.heart:after,.heart:before{
	content: '';
	width: inherit;
	height: inherit;
	background: inherit;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	position: fixed;
}
.heart:after{ top: -5px; }
.heart:before{ left: -5px; }